body {
    font-family: Arial, sans-serif;
    padding-top: 60px;
}

.news-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
}

.news-item {
    display: flex;
    background-color: #f3f4f6;
    border: 2px solid #cbd5e0;
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    transition: border-color 0.3s ease;
}

.news-item:hover {
    border-color: rgb(55, 65, 81);
}

.news-image {
    width: 20%;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

.news-content {
    flex: 1;
}

.news-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.news-details p {
    margin-bottom: 0.5rem;
}

.news-link {
    color: #3b82f6;
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}